body {

	background-image: url("fondo2.jpg");
	background-repeat: repeat-x;
	background-size: auto;
	background-color: #ececec; 
}

.fa.fa-desktop {

	color: white;
	font-size: 50px;
	margin-right: 50px;

}

img {
	padding-top: 30px;
	width: 100px;
	padding-left: 170px;
	display: block;
	margin: auto;
}

h1 {

	font-family: 'Londrina Solid', cursive;
	color: white;
	text-decoration: none;
	margin-left: 50px;
}

.izquierda {
	font-family: 'Source Sans Pro', sans-serif;
	padding-right: 20px;
	width: 85%;	
}

.izquierda ul li {

	list-style: none;
}

.izquierda a:hover {

	padding: 15px;
	color: red;
}

.ejerciciosvoluntariostema1 {

	display: inline-flex;
	width: 40%;

}

#tabla1 {

	background-color:    #c6dbf0 ;
	text-align: center;
	padding: 60px;
	border-collapse: collapse;
	font-family: 'Source Sans Pro', sans-serif;
}

#tabla1, th, td {

	border: 1px solid black;
}

.tabla1 a:hover {

	padding: 5px;
	background-color: #071063;
	color: white;
}

a {

	text-decoration: none;
}

.pie {

	background-color:  #073c79 ;
	position: bottom;
	bottom: 0;
	width: 100%;
	color: white;
	padding: 0px 0px 0px 200px;
	
}

.pie p {

	text-align: center;
	padding-top: 10px;
	padding: 20px;

}


#Atras a {
font-family: 'Source Sans Pro', sans-serif;

}

/*diseño responsibe moviles*/
@media screen and (max-width:  640px) {

	

}