			@font-face{
   				font-family: fable;
 				src: url(fabled/MemphisFree.ttf);
			}

			.fable {
				font-family: MemphisFree;
				font-size: 100%;
			}

			body {
				
				font-family: "verdana";
				background-color:  #d4d6dc;
		
			}

			section p {
				color:   #3362f7;
			}

			 img {

			 	display: flex;
				margin:auto;
				
				width:250px;
				height:250px;
				margin-left: auto;
  				margin-right: auto;
  				border: 10px solid;
			}

			p {
				padding-top: 10px;
				
			}

			h1 {
				
				text-align: center;
				

			}

			section {

				background-color: #cb9e94 ;
				padding-bottom: 30px;
				
			}

			footer {

				text-align: center;
  				padding: 1em;
  				background-color: DarkSalmon;
 				color: white

			}

			section a {

				color:  #6b7eb7;
				text-decoration: none;

			}

			section a:hover {
				color:red;
			}

			footer a {
				text-decoration: none;
			}
