body {
	margin: 0 auto;
	background-color: #D5D5D5;
}

#content {

	background-color: #FFFFFF;
	width: 80%;
	margin-left: 10%;
	float: left;
	
}

#principal {
	width: 80%;
	float: left;

}

#principal nav {
	
	float: left;
}

#principal #verde {
	float: left;
	background-color: #379100;
}
#principal #celeste {
	float: left;
	background-color: #4A9DD1;
}

#secundario{
	margin: auto;
	float: left;
}

footer{
	float: left;
}